body.admin_message_orders {
  // прячем кнопку batch actions
  .table_tools { display: none; }
  // прячем кнопку "создать новую запись"
  div.action_items { display: none; }
  //прячем ссылку "редактировать"
  a.edit_link { display: none; }
}